# ignore all compiled python files
*.pyc
__pycache__/

# ignore the dist directory with containing packages
/dist

# ignore the translation template .pot-file
*.pot

# ignore all compiled translation .mo-files
*.mo
